{% extends 'base.html' %}
{% block content %}
<br><br><br><br><br>
<h1 style="text-align:center;color:yellow;">
Dwarang - A Web based Python-Django Framework for Oﬃcial Purposes
</h1>
<p style="margin-left:10%;color:white;">


 This project has been carried out under the guidance of <b>Dr.G.V.V.Sharma</b> during the Summer ResearchFellowship 2020
 sponsored by Indian Academy of Sciences.
  <br><br>
Dwarang – means “data handling”. The title is derived
 from two Sanskrit words <b><i>Datt</i></b> meaning data and <b><i>Varang</i></b> meaning
handle. It is named so because the web app accepts input data from
 users through html forms and produces the application form submitted
 in the form of a portable document format(pdf). HTML forms are a core component of modern
 websites. From Google’s search box to large, multipage submissions,
 HTML forms are the primary means of collecting information from 
 website visitors and users. Rendering interactive pdf
 forms has quite a lot of interesting applications in today’s world
 from loan, mortgage applications in the financial sector to 
 emergency-pass or ticket generators.

 <br><br><br>


 For business and government
 organizations, pdfs are now essentially ‘THE’ physical act of 
 publication. Its portability makes it unparalleled. This project 
 is modelled such that the entered data on being submitted gets 
 generated as a pdf, in the prescribed format of the respective 
 institution. As a result, great amount of manual work is reduced. 
 This might be requested by the user in certain situations like 
 telephone bill allowance, travel allowance form, reimbursement forms, 
 contingent expenditure forms and many other applications.

 </p>
{% endblock %}